<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../../css/syles.css" />
  <title>Ecommerce Admin Dashboard</title>
</head>

<body>
  <div class="container">
    <header
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-4 mb-4 border-bottom">
      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/" class="nav-link px-4 link-secondary">Home</a></li>
        <% if(isAuthenticated){ %>
          <li>
            <a href="/order" data-auth="required" class="nav-link px-4">Order</a>
          </li>
          <li>
            <a href="/category" data-auth="required" class="nav-link px-4">Category</a>
          </li>
          <li><a href="/product" class="nav-link px-4">Product</a></li>
          <li><a href="/customer" class="nav-link px-4">Customer</a></li>
          <% } %>
            <li><a href="/about" class="nav-link px-4">About</a></li>
      </ul>
      <div class="col-md-6 text-end">
        <% if(isAuthenticated){ %>
          <span class="me-3 text-primary">Welcome <%= user.email.split('@')[0].toUpperCase() %></span>
          <!-- Logout button-->
          <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#logoutModal">
            Logout
          </button>
          <% }else{ %>
            <button type="button" class="btn btn-outline-primary me-3" onclick="window.location.href='/register'">
              Register
            </button>
            <button role="button" class="btn btn-outline-primary me-3" onclick="window.location.href='/login'">
              Login
            </button>
            <% } %>
      </div>
    </header>
  </div>

  <!-- Logout Confirmation Modal -->
  <div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="logoutModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body text-center">
          <p>Are you sure you want to log out?</p>
          <div class="d-flex justify-content-center gap-3 mt-3">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
              Cancel
            </button>
            <button id="logoutBtn" type="submit" class="btn btn-danger" onclick="window.location.href='/logout'">
              Logout
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>