<%- include('../partials/header.ejs') %>

<div class="row col-md-16 justify-content-center py-4">
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <form id="loginForm" action="/login" method="POST">
          <!-- Email input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="email">Email address</label>
            <input type="email" name="username" class="form-control" required="true" />
          </div>
          <!-- Password input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="password">Password</label>
            <input type="password" name="password" class="form-control" required="true" />
          </div>
          <!-- 2 column grid layout for inline styling -->
          <div class="row mb-4">
            <div class="col d-flex justify-content-center">
              <!-- Checkbox -->
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="form2Example31"
                  checked
                />
                <label class="form-check-label" for="form2Example31">
                  Remember me
                </label>
              </div>
            </div>
            <div class="col">
              <!-- Simple link -->
              <a href="">Forgot password?</a>
            </div>
          </div>

          <!-- Submit button -->
          <button id="loginBtn" type="submit" class="btn btn-primary btn-block mb-4">
            Login
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  document.getElementById("loginForm").addEventListener("submit", function () {
    let btn = document.getElementById("loginBtn");
    btn.disabled = true; // disable to prevent double-click
    btn.innerHTML = `
        <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
        <span role="status"> Loading...</span>
    `;
    setTimeout(() => {
    }, 3000);
  });
</script>
<%- include('../partials/fixedFooter.ejs') %>
